.character-card {
    width: 350px;
    margin-bottom: 15px;
    background-color: #F9F2F6;
    color: #1B2540;
}
.character-badge {
    background-color: #571B2F;
}

@media (min-width: 570px) and (max-width: 992px) {
    .character-card {
        width: 400px;
    }
}
