.header-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B2540;
    color: #F9F2F6;
}

@media (max-width: 480px) {
    .header-container .header-txt {
        font-size: 165%;
    }
}
@media (max-width: 300px) {
    .header-container .header-txt {
        font-size: 150%;
    }
}
